
/* --------------------------------- INDEX ---------------------------------  */
h1{
    font-size: 45px;

}
h3{
    font-size: 22 px;
}
body {
    font-family: Gill Sans, sans-serif;
    letter-spacing: 1px;
}

hr {
    width: 80%;
}

.homepage-body, ul{
    background-color:rgb(0,24,41);
}

.earth-animation{
    transform: translate(55vh, 15vw);
    position: absolute;
    z-index: -1;
}
.earth-animation img {
  width: auto;
  height: 500px;
  border-radius: 50%;
}

.homepage-txt {
    margin-left: 5vh;
    margin-top: 5vh;
    margin-right: 70vh;
    margin-bottom: 5vh;
    color: white;
    font-family: Gill Sans, sans-serif;
    letter-spacing: 1px;
}

.learn-more{
    color: rgb(41, 138, 155)
}

.lm-button {
    display: inline-block;
    padding: 6px 10px;
    margin-left: 400px;
    background-color:rgb(41, 138, 155);
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: Gill Sans, sans-serif;
    letter-spacing: 1px;

  }

  .lm-button:hover {
    background-color: rgb(50, 165, 181);
  }

.current-stats{
    margin-left: 30px;
    margin-top: 40px;
    font-size: 14px;
    font-weight:bold;
}
  .current-stats a{
    color:rgb(195, 194, 194);
    transition: color 0.5s ease;
    font-family: Gill Sans, sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
   

  }
  .current-stats a:hover {
    color:rgb(41, 138, 155);
  }

/* --------------------------------- COUNTRY PICK ---------------------------------  */
/* 
This map image is hardcoded to exact pixels on the screen, as well as the icons that correspond
to each country. Icons that dynamically position themselves based on page size, along with a 
dynamically changing map isn't unreasonably complex, but is a little much for me right now. I'd love 
to work on it down the line, but for now everything is going to be absolute on the page. 
*/

.countrypick-body{
    background-color: white;
}

.map-container{
    position: absolute;
}

.map-container img {
    padding-top: 15px;
    padding-left: 100px;
    height: 450px;
    width: 830px;
    position: absolute;

}

.map-icon {
    position: absolute;
    cursor: pointer; 
}

.map-icon img {
    height: 40px;
    width: 48px;
}

.top-text{
    color:rgb(0,24,41);
    font-family: Gill Sans, sans-serif;
    margin: 0 auto;
    text-align: center;
    padding: 10px 100px;
    letter-spacing: 1px;
}

.vid-container {
    margin-top: 55%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 10vh; 
    text-align: center;
    
}
 /* country icon ids */
 
 #icon-canada {
    top: 100px; 
    left: 140px;
}

#icon-germany {
    top: 120px;
    left: 390px;
}
#icon-southkorea {
    top: 170px; 
    left: 690px;
}

#icon-columbia {
    top: 260px;
    left: 200px;
}
#icon-australia {
    top: 330px;
    left: 700px;
}

#icon-denmark {
    top: 100px;
    left: 425px;
}

/*  --------------------------------- COUNTRIES --------------------------------- */


.scrollable-content {

    position: relative;
    height: 100vh;
    overflow: hidden;
    height: 400px;
    margin-top: 10%;   

    margin: 0;
}
.country-top-container {
    margin: 0;
    margin-left: 1em;
    margin-bottom: 2em;


}
.country-top-header {
    font-weight: bold;
    font-size: 44px;
    color: rgb(50,165,181);

}
.country-top-text {
    width: 500px;
    color:rgb(0,24,41);
    margin-top: 1em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color:rgb(229, 239, 210)

}

.plan-info-section{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    border-radius: 10px;
    color:rgb(0,24,41);
}

.plan-info-section.active {
    opacity: 1;
}

.info-section-image-container {
    flex: 1;
}

.info-section-text-container {
    flex: 1;
    margin-left: 20px;
    margin-right: 20px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color:rgb(229, 239, 210)
}

.info-section-image-container img {
    width: 100%;
    height: auto;
    padding-left: 10px;
    border-radius: 15px;
}

.countrygif-container {
    position: absolute;
    top: 140px; 
    right: 200px; 
   

}

#countryflag-gif img {
    width: 200px;
    height: 200px;
}

/* --------------------------------- HOW TO HELP ---------------------------------  */

.hth-header {
    padding: 35px;
}

.tableone-container{
    display: flex;
    align-items: right;
    flex-direction: row;
    margin-left: 50px;
}

.tabletwo-container{
    display: flex;
    align-items: right;
    flex-direction: row;
    margin-left: 50px;
}

.newsletter-container  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.newsletter-container p {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}

.one-side-txt {
    display: flex;
    width: 600px;
    height: 200px;
    margin-top: 20px;
  
}

.one-side-txt p2 {
    margin-top: 30px;
    transform-origin: center; 
    transform: rotate(270deg);
    height: 60px;
    width: 600px;

}

#ost2{
    margin-left: 60px ;
    width: 800px;
}

.newsletter-container{
    display: flex;
    align-items: right;
    flex-direction: row;
}

.nlc-form {
    padding: 1%;
    margin: 3%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color:rgb(229, 239, 210);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* Table 1 */

.table1 {
    font-family: Arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
    margin-left: 20px;
}

.table1 th, .table1 td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.table1 .bar-container {
    position: relative;
    height: 20px;
}

.table1 .bar {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.table1 .bar-left {
    right: 50%; 
    background-color: #8bc34a;
}

.table1 .bar-right {
    left: 50%; 
    background-color: #2196f3;
}

.tabletwo-container {
    font-family: Arial, sans-serif;
    width: 100%; 
}

.tabletwo-container table {
    width: 90%;
    border-collapse: collapse;
}

.tabletwo-container th, .tabletwo-container td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.tabletwo-container th {
    background-color: #f4f4f4;
}

.tabletwo-container td {
    background-color: #ffffff;
}


/*  --------------------------------- NAV BAR  --------------------------------- */
nav {
    background-color: rgb(50, 165, 181, 0);
    overflow: hidden; 
    height: 50px;
    border-radius: 10px;
}

nav ul {
    list-style-type: none;
}

nav li {
    float: right;
    margin-right: 50px;
    padding-top: 0;
}
nav ul li {
    display: block;
    position: relative;
}

nav a {
    display: block;
    color:rgb(195, 194, 194);
    text-align: center;
    font-size: 14px;
    font-weight:bold;
    text-decoration: none;
    font-family: Gill Sans, sans-serif;
    transition: color 0.5s ease;
    letter-spacing: 1px;
}
nav a:hover {
    color:rgb(41, 138, 155);
}

 
